header {
    background: linear-gradient(#d5d5d5, #fff, #fff, #fff, #fff);
    text-align: center;
    padding: 37px 0 24px 0;
}
#logo img { width: 25%; }
menu { padding: 20px 0 0 0 }
menu li {
    font: .7em Tahoma, sans-serif;
    color: #b7b7b7;
    padding: 0 10px 7px 10px;
}
menu li a {
    transition: all 0.2s;
    display: block;
    font: bold .9rem Georgia, serif;
    text-transform: uppercase;
    color: #666;
}
menu li a:hover {
    padding: 0 10px;
    text-align: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    scale: 1.1;
}
menu li a:active {
    background-color: #000;
    color: #fff;
}
main {
    background: #fff url('../img/mainbg.jpg') repeat-x;
    padding: 20px 0 0 0;
}
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    background: url('../img/slider1.jpg') center/cover;
}
hr { border-top: 1px solid #e5e5e5; }
h1 {
    font: bold 1.5em Georgia, serif;
    color: #000;
    text-align: center;
    padding: 22px 0;
}
h2 {
    font: bold 1.3em Georgia, serif;
    text-transform: capitalize;
    color: #11719e;
}
h3 {
    font: 1.2em Georgia, serif;
    border-bottom: 1px dashed #d3d3d3;
    text-transform: capitalize;
    padding: 0 0 6px 0;
    color: #444;
}
h6 {
    font: .75em Helvetica, sans-serif;
    color: #8c8c8c;
}
article p {
    font: .8em/1.5 Helvetica, sans-serif;
    color: #3e3e3e;
}
article img {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 6px;
    background: #f3f3f3;
    width: 100%;
    margin: 1em 0;
}
.row {  
    padding: 24px 0; 
}
.col {  padding: 12px 10px; }

.btn {
    transition: all 0.5s;
    display: inline-block;
    width: 160px;
    padding: 8px 13px;
    margin: 11px 0 0 0;
    border-radius: 4px;
    text-align: left;
}
.btn:hover {
    scale: 1.1;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.btn span { float: right;}
.btn1 {
    border: 1px solid #d8d8d8;
    font: .75em Helvetica, sans-serif;
    background: linear-gradient(to right, #e8e8e8, #f7f7f7, #e8e8e8, #eaeaea);
    color: #016999;
}
.btn2 {
    border: 1px solid #004a80;
    font: .8em Georgia, serif;
    color: #fff;
    background: linear-gradient(to right, #31659a, #4b84bc, #3e6d9c, #306193);
}
#marginForText {
    margin: 12px 0 0 0;
}
.inputText {
    width: 100%;
    height: 2.06rem;
    font: .6rem Verdana, sans-serif;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    padding-inline: .9rem;
    margin: 15px 0 0 0;
}
#area {
    resize: none;
    height: 8.4rem;
    max-height: 134px;
}
.inputText::placeholder {
    color: #d4d4d4;
}
.col1Text{
    display: block;
    margin: 11px 0 0 0;
    font: .75rem Helvetica, sans-serif;
    color: #444;
}
.inrow {
    transition: all 0.5s;
    padding: 7px 0;
}
.inrow a img:hover {
    scale: 1.1;
}
#newsletter {
    padding: 30px 0 0 0;
}
#newsletter h3 {
    font: bold 1.2em "Gill Sans", sans-serif;
    color: #444;
}
.pic img {
    max-width: 48px;
    max-height: 47px;
    float: left;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    background-color: #f0f0f0;
}
.pic p {
    line-height: 15px;
    padding-left: 8px;
    float: left;
    width: 66.66%;
    font: 0.75rem Helvetica, sans-serif;
    color: #444;
}
.pic {
    width: 100%;
    display: inline-block;
    padding: 14px 0 11px 0;
    border-bottom: 1px dashed #d3d3d3;
}
footer {
    text-align: center;
    background: #333;
    border-top: 10px solid #4c4c4c;
}
footer p {
    cursor: default;
    padding-bottom: 5px;
}
footer p, li, a {
    font: .7rem Helvetica, sans-serif;
    color: #999999;
}
footer ul li {
    display: inline-block;
}
.footrow {
    padding: 18px 0 0 0;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 940px;
        margin: auto;
    }
    header { text-align: initial; }
    menu { float: right; }
    menu li { 
        display: inline-block; 
        border-left: 1px dotted #d6d6d6;
    }
    .row::after {
        display: table;
        content: '';
        clear: both;
    }
    .col {
        width: 33.33%;
        float: left;
    }
    footer ul {
        clear: left;
        float: left;
    }
    footer p:first-child {
        float: left;
    }
    footer p:nth-child(2) {
        float: right;
    }
    .footrow {
        padding-bottom: 104px;
    }
}